html, body{ 
 margin:0; 
 padding:0; 
 text-align:center; 
 background-color:#EFEFEF;
} 
 
#pagewidth{ 
 width:95%; 
 text-align:left; 
 margin:0 auto; 
} 
 
#header{
 position:relative; 
 width:100%;
 display:block;
 overflow:auto;
} 
 
#leftcol{
 width:25%; 
 float:left; 
 position:absolute;
}

#leftcol #autocomplete_sensor{
 width: 98%;
}
 
#maincol{
 background-color: #FFFFFF;  
 position: relative; 
 width:70%;
 float:right; 
 margin-left: 5px; 
 padding-top: 0px; 
 padding-left: 5px; 
 padding-right: 5px; 
 padding-bottom: 5px;
 border:1px solid #DDDDDF;
 -moz-border-radius:5px; /* Firefox */
 -webkit-border-radius:5px; /* Safari, Chrome */
 -khtml-border-radius:5px; /* Konqueror */
 border-radius:5px; /* CSS3 */
}

#maincol h3{
 margin: 0;
 padding: 0;
}

#optionset h3{
 margin: 0;
 padding: 0;
}
 
#optionset{
 background-color: #FFFFFF; 
 padding-top: 0px; 
 padding-left: 5px; 
 padding-right: 5px; 
 padding-bottom: 5px; 
 margin-bottom: 10px;
 border:1px solid #DDDDDF;
 -moz-border-radius:5px; /* Firefox */
 -webkit-border-radius:5px; /* Safari, Chrome */
 -khtml-border-radius:5px; /* Konqueror */
 border-radius:5px; /* CSS3 */
}

#error{
 color: red; 
 background-color: #FFFFFF; 
 padding-top: 0px; 
 padding-left: 5px; 
 padding-right: 5px; 
 border:1px solid #DDDDDF;
 -moz-border-radius:5px; /* Firefox */
 -webkit-border-radius:5px; /* Safari, Chrome */
 -khtml-border-radius:5px; /* Konqueror */
 border-radius:5px; /* CSS3 */
}

.clearfix:after {
 content: "."; 
 display: block; 
 height: 0; 
 clear: both; 
 visibility: hidden;
}
 
.clearfix{display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
.clearfix{display: block;}
/* End hide from IE-mac */  
     
 @media print{ 
/*hide the left column when printing*/ 
#leftcol{display:none;} 
#twocols, #maincol{width:100%; float:none;}
}

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 22px; /*--Set height of tabs--*/
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 22px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 22px; /*--Vertically aligns the text within the tab--*/
	/*margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #fff;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	padding: 0 5px;
	outline: none;
}
ul.tabs li a:hover {
	background: #fff;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  {
	background: #DDDDDF;
}

.tab_container {
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #DDDDDF;
}
.tab_content {
	padding: 5px;
}